@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--gunmetal: #2d3142ff;
	--paynes-gray: #4f5d75ff;
	--silver: #bfc0c0ff;
	--white: #ffffffff;
	--coral: #ef8557ff;

	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
